div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery {
    border: 1px solid rgb(160, 88, 88);
    float: left;
}

div.gallery img {
    width: 100%;
    height: auto;
    float: left;
}

body{
    background: #E3CEF6;
}
*{
    margin: 4px;
    padding: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
